{% extends "main.twig" %}

{% block content %}
	<h1>Scripts</h1>
	
	<strong>Command:</strong>
	<pre>{{ commandDetail }}</pre>

	{% if result %}
		<strong>Result:</strong>
		<pre>{{ result }}</pre>
	{% endif %}
	
	<form method="POST" action="{{ path('scripts.run', {'command':command}) }}" accept-charset="UTF-8">
		<div class="control-group">
			<label for="parameter"><strong>Parameters</strong></label>
			<div class="controls">
				<input name="parameter" type="text" id="domain" value="{{ last_parameter }}">
			</div>
		</div>
		<div class="form-actions">
			<input class="btn btn-primary" type="submit" value="Run">
			<a class="btn" href="{{ path('scripts') }}">Cancel</a>
		</div>
	</form>
	<br />
	
	
{% endblock %}
